.fitImage {
  width : 100%;
  height : 100%;
  background-size: cover;
}

.backgroundImagesForHomeText {
  background-image: url('homeBack.png');
}

.carousel-indicators{
   bottom:0px;
}


.homeCarouselFirstPageFontColor{
  color : rgb(157,197,15);
}

.carousel-inner{
  width:100%;
  max-height: 200px !important;
}

.slick-dots {
  display : none;
  color : green;
}

.dropHov {
  transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

textarea {
    resize: none;
}

.btn {
  border-radius : 0;
}

.newSchoolRegisterButton {
  background-color: rgb(157,197,15);
  color : white;
}

.input-group-addon {
  background-color: rgb(255, 255, 255);
  border : none;
}

.loginFacebookButton {
  background-color: rgb(48, 78, 142);
  color : white;
}

.loginGooglePlusButton {
  background-color: rgb(223, 59, 51);
  color : white;
}

.loginNewSignButton {
  background-color: rgb(180, 178, 180);
  color : white;
}

.buttonGreen:hover{
  color: rgb(157,197,15);
}

.buttonRed:hover{
  color: rgb(255,0,8);
}

.profileButton:hover{
  color : rgb(34,110,174);
}

.favButton:hover{
  color : rgb(255,194,37);
}

.messagesButton:hover > button > span{
  color : rgb(157,197,15);
}

.map-container {
  max-width: 100%;
  height: 500px;
}

.userMenuBack {
  background-color: rgb(157,197,15);
}

.newMessageButtonBack {
  background-color: rgb(255,195,37);
  color : white;
}

.profileUserNameColor {
  color : rgb(157,197,15);
}

ul#cpmL li {
  display : inline;
}

.wellOver {
  padding: 5px;
  background-color: white;
}

.cmpListImg {
  height : 64px;
  width : 64px;
}

.cmpListClose {
  position:absolute;
  top:0px;
  right:10%;
}

a:hover {
  text-decoration: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
    min-height: 100%;
    /*padding-bottom: 10px;*/
}

.footer {
  bottom : 0px;
  right : 0px;
  left : 0px;
  padding : 0.7em;
  margin : 0;
  background-color: black;
  text-align: left;
  position : static;
}

.drowDownWithIcons:hover:before {
  position: absolute;
  bottom: -15px;
  left: 40%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.drowDownWithIcons:hover:after {
  position: absolute;
  bottom: -16px;
  left: 40%;
  display: inline-block;
  border-right: 6px black transparent;
  border-top: 6px black #ffffff;
  border-left: 6px black transparent;
  content: '';
}

.messageTitleColor{
  color:rgb(157,197,15);
}

.disableClick {
  pointer-events : none;
}

.schoolCoverImageUpload {
  background:none;
  border:none;
  position:absolute;
  left:50%;
  top:50%;
}

.schoolProfilePhoto{
  position:absolute;
  bottom:-50px;
  left:10;
  heigth : 150px;
  width: 150px;

}

.schoolProfilePhotoImg{
  width: 150px;
  height: 150px;

}

.hoverStarYellow:hover{

  color : orange;
}

.ellipsis{
  text-overflow : ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.schoolDetailPageSixComponents{
  color:black; padding-left:5%;
}

.modal-body{
  word-wrap: break-word;
}
